.aside__info {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  position: relative;
}

@media only screen and (max-width: 1100px) {
  .aside__info {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 40px;
    gap: 25px;
  }
}

@media only screen and (max-width: 700px) {
  .aside__info {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 40px;
    gap: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .aside__info {
    margin: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 15px;
    height: 80px;
  }
}

.aside__avatar {
  width: 120px;
  height: 120px;
  background: none;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .aside__avatar {
    width: 80px;
    height: 80px;
    display: block;
  }
}

.aside__avatarImg {
  width: 100%;
  background-size: cover;
  border-radius: 8px;
  margin-bottom: 25px;
}

.aside__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside__heading {
  font-size: 25px;
}

@media only screen and (max-width: 500px) {
  .aside__heading {
    font-size: 18px;
  }
}

.aside__position {
  border-radius: 8px;
  background-color: hsl(240, 1%, 17%);
  padding: 5px 15px;
  font-size: 11px;
}

.aside__moreInfo {
  display: block;
  max-height: 0;
  transition: 0.5s ease-in-out;
}

@media only screen and (min-width: 1100px) {
  .aside__moreInfo {
    max-height: 500px;
    transition: 0.5s ease-in-out;
  }
}

@media only screen and (max-width: 1100px) {
  .aside__moreInfo {
    height: auto;
  }
}

.aside__moreInfo--active {
  display: block;
  max-height: 500px;
  transition: 0.5s ease-in;
}

.aside__moreInfoBtn {
  position: absolute;
  top: -50px;
  right: 0;
  border-radius: 0 14px 0 14px;
  border: none;
  color: #ffdb70;
  font-size: 12px;
  cursor: pointer;
  width: 150px;
  padding: 8px;
  display: none;
  z-index: 1;
  transition: font-size 0.5s;
  background: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.125);
}

@media only screen and (max-width: 500px) {
  .aside__moreInfoBtn {
    top: -20px;
    right: -21px;
    width: 50px;
  }
}

.moreInfo--mobile {
  display: none;
}

@media only screen and (max-width: 500px) {
  .moreInfo--mobile {
    display: block;
    width: 20px;
  }

  .moreInfo--desktop {
    display: none;
  }
}

.aside__moreInfoBtn::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: hsl(240, 2%, 13%);
  z-index: -1;
}

.aside__moreInfoBtn:hover {
  font-size: 14px;
  transition: font-size 0.5s;
}

@media only screen and (max-width: 1100px) {
  .aside__moreInfoBtn {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .aside__moreInfoBtn {
    width: 40px;
    display: block;
    padding: 2px;
    align-self: center;
    display: flex;
    justify-content: center;
  }
}

.separator {
  height: 1px;
  width: 95%;
  margin: 25px auto;
  background-color: hsl(240, 1%, 23%);
}

.aside__contactList {
  list-style: none;
  margin: 0;
  padding: 0;
  color: hsla(0, 0%, 84%, 0.7);
}

@media only screen and (max-width: 1100px) {
  .aside__contactList {
    list-style: none;
    margin: 0;
    padding: 0;
    color: hsla(0, 0%, 84%, 0.7);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 15px;
    width: 100%;
    margin: 25px;
  }
}

@media only screen and (max-width: 700px) {
  .aside__contactList {
    list-style: none;
    margin: 0 40px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .aside__contactList {
    margin: 0 20px;
  }
}

.aside__contactListItem {
  margin: 20px 30px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

@media only screen and (max-width: 700px) {
  .aside__contactListItem {
    margin: 0;
  }
}

.aside__contactIcon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 12px;
  background: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
  z-index: 1;
}

.aside__contactIcon--last {
  width: 72px;
}

@media only screen and (max-width: 1100px) {
  .aside__contactIcon--last {
    width: 45px;
  }
}

.aside__contactIcon::before {
  content: "";
  inset: 1px;
  position: absolute;
  background: hsl(240, 2%, 13%);
  z-index: -1;
  border-radius: inherit;
}

.aside__icon {
  width: 25px;
}

.aside__contactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.aside__contactTitle {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
  text-align: left;
  margin-bottom: 5px;
}

.aside__contactContent {
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: hsl(0, 0%, 98%);
  font-size: 13px;
}

.aside__contactContent--location {
  max-width: 90%;
}

.aside__socialIconsList {
  display: flex;
  list-style: none;
  gap: 25px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.aside__socialLink {
  text-decoration: none;
  color: #fff;
  color: #2b2b2c;
}

.aside__socialIcon {
  width: 15px;
}

.aside__socialIcon--linkedin {
  width: 18px;
}

.aside__socialIcon--github {
  width:18px;
}
