html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

:root {
  --border: #383838;
  --white: #ffffff;
}

body {
  background-color: #121212;
  height: calc(100vh- 50px);
  font-family: "Lato", sans-serif;
}

.main {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1100px) {
  .main {
    flex-direction: column;
  }
}

.aside {
  width: 290px;
  box-shadow: 0 24px 80px #00000040;
  height: 750px;
  background-color: #1e1e1f;
  border: 1px solid var(--border);
  border-radius: 15px;
}

@media only screen and (max-width: 1100px) {
  .aside {
    width: 95%;
  }
}

@media only screen and (max-width: 1000px) {
  .aside {
    width: 80%;
  }
}

.main-content {
  width: 750px;
  box-shadow: 0 24px 80px #00000040;
  height: 750px;
  background-color: #1e1e1f;
  border: 1px solid var(--border);
  border-radius: 15px;
}

@media only screen and (max-width: 1100px) {
  .main-content {
    width: 95%;
  }
}

@media only screen and (max-width: 1000px) {
  .main-content {
    width: 80%;
  }
}
